<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cartas Faltantes por Álbum e Pessoa</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Cartas Faltantes por Álbum e Pessoa</h1>
    {% for user in missing_cards_data %}
        <h2>{{ user.username }}</h2>
        <ul>
            {% for package in user.packages %}
                <li>{{ package.package_name }}: {% if package.missing_cards %}faltam {{ package.missing_cards | length }} cartas ({{ package.missing_cards | join(', ') }}){% else %}Completo{% endif %}</li>
            {% endfor %}
        </ul>
    {% endfor %}
    <a href="{{ url_for('statistics') }}">Voltar às Estatísticas</a>
</body>
</html>
