<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estatísticas</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <!-- Adicionando links para as novas páginas -->
    <h1>Estatísticas</h1>
    <ul>
        <li><a href="{{ url_for('missing_cards_per_album_person') }}">Extrato de cartas por Usuário</a></li>
        <li><a href="{{ url_for('total_cards_per_person') }}">Total de Cartas por Usuário</a></li>
        <li><a href="{{ url_for('possible_card_donations') }}">Doações Possíveis</a></li>
        <li><a href="{{ url_for('priority') }}">Lista de Prioridades</a></li>
    </ul>

    <a href="/">Voltar à Seleção de Usuário</a>
</body>
</html>
